// Полезные модификаторы
//  Просто добавляем нужный модификатор для класса элемента

// ==========================================================================================================================

// Визуальное скрытие для валидности кода и для Скринридеров (заголовки, пустые ссылки...)
[class*="_visually-hidden"] {
	// .visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

// ==========================================================================================================================

// ИЗОБРАЖЕНИЯ

// Контейнер для адаптивного изоображения - Используется, чтобы все картинки в ряду имели ОДИНАКОВУЮ высоту
/*
Оборачиваем изображение в СПАН <span>, ССЫЛКУ <a> или ДИВ <div> с приставкой к классу "...-ibg": 
1) -ibg - Изображение как background (width: 100%; object-fit: cover;)
2) -ibg-contain - такое же, как и 1-й тип, но с пропорциями object-fit: contain;)
3) -ibg-fix - обычное изображение (со своими width и height). НЕ ПОДХОДИТ ДЛЯ КАРТИНОК В РЯД, ИСПОЛЬЗОВАТЬ ТОЛЬКО ДЛЯ ОДИНОЧНЫХ КАРТНИК (ОДИН СТОЛБЕЦ)

Чтобы изображение адаптировалось под любую ширину надо высчитать 
для элемента-обертки padding-bottom (высота / ширина * 100%) (возможно нужно будет взять ширину РОДИТЕЛЯ)
Например: padding-bottom: percent(240, 270);
*/

// Изображение выступает в роли Беграунда и зополняет собой весь контенер (наиболее частый)
[class*="-ibg"] {
	display: block;
	width: 100%;
	position: relative;
	padding-bottom: 0%;

	> img,
	> picture {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

// Изображение выступает в роли Беграунда и зополняет собой весь контенер, Но сохраняет свои пропорции
[class*="-bg-contain"] {
	display: block;
	width: 100%;
	position: relative;
	padding-bottom: 0%;

	> img,
	> picture {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-height: 100%;
		width: 100%;
		object-fit: contain;
	}
}

// Просто картинка своих стандартных размеров, воравненная по центру своего контейнера
[class*="-ibg-fix"] {
	display: block;
	width: 100%;
	position: relative;
	padding-bottom: 0%;

	> img,
	> picture {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-height: 100%;
	}
}

// ==========================================================================================================================

// (удалить)

// ИЗОБРАЖЕНИЯ

// Контейнер для адаптивного изоображения - Используется, чтобы все картинки в ряду имели ОДИНАКОВУЮ высоту
/*
Оборачиваем изображение в СПАН <span>, ССЫЛКУ <a> или ДИВ <div> с классом "...__image-wrap-bg": 
1) __image-wrap-bg - Изображение как background (width: 100%; object-fit: cover;)
2) __image-wrap-contain - такое же, как и 1-й тип, но с пропорциями object-fit: contain;)
3) __image-wrap-fix - обычное изображение (со своими width и height). НЕ ПОДХОДИТ ДЛЯ КАРТИНОК В РЯД, ИСПОЛЬЗОВАТЬ ТОЛЬКО ДЛЯ ОДИНОЧНЫХ КАРТНИК (ОДИН СТОЛБЕЦ)

Чтобы изображение адаптировалось под любую ширину надо высчитать 
для спана/ссылки-контейнера padding-bottom (высота / ширина * 100%)
Например: padding-bottom: percent(240, 270);
*/

// Изображение выступает в роли Беграунда и зополняет собой весь контенер (наиболее частый)
[class*="__image-wrap-bg"] {
	display: block;
	width: 100%;
	position: relative;
	padding-bottom: 0%;

	> img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

// Изображение выступает в роли Беграунда и зополняет собой весь контенер, Но сохраняет свои пропорции
[class*="__image-wrap-bg-contain"] {
	display: block;
	width: 100%;
	position: relative;
	padding-bottom: 0%;

	> img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-height: 100%;
		width: 100%;
		object-fit: contain;
	}
}

// Просто картинка своих стандартных размеров, воравненная по центру своего контейнера
[class*="__image-wrap-fix"] {
	display: block;
	width: 100%;
	position: relative;
	padding-bottom: 0%;

	> img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-height: 100%;
	}
}

// ==========================================================================================================================
